.carousel-img {
  width: 100%;
  height: 60vh;
}

.carousel-list-item {
  list-style-type: none;
  display: flex;
  width: 90%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 110px;
}
